* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141414;
}

.background {
    background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZjU2MmFhZjQtNWRiYi00NjAzLWEzMmItNmVmNmMyMjMwMTM2XC9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LOYKSxIDqfPwWHR0SSJ-ugGQ6bECF0yO6Cmc0F26CQs'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-container {
    background: rgba(26, 26, 26, 0.75);
    padding: 60px 68px 40px;
    border-radius: 9px;
    max-width: 450px;
    width: 100%;
    color: #fff;
}

.logo img {
    height: 70px;
    width: 400px;
    cursor: pointer;
    position: absolute;
   }

.signin-form h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    color: #fff;
    height: 50px;
}

.signin-form button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background: #e50914;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #b3b3b3;
}

.options a {
    color: #b3b3b3;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
    transition: 3s;
}

.signup {
    margin-top: 30px;
}

.signup p {
    font-size: 14px;
    color: #737373;
}

.signup a {
    color: #fff;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}

.captcha {
    font-size: 12px;
    color: #8c8c8c;
    margin-top: 20px;
}

.captcha a {
    color: #0071eb;
    text-decoration: none;
}

.captcha a:hover {
    text-decoration: underline;
}

.n{
    display: flex;
}